## Sandbox for Viewser, VIEWS API, etc.

#### Basic test of Queryset

In [1]:
from viewser import Queryset, Column
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

Set up query

In [6]:
new_queryset = (Queryset("simple_conflict", "country_month")
           .with_column(Column("ged_sb", from_loa="country_month", from_column="ged_sb_best_sum_nokgi")))

Publish the Query

In [7]:
data = new_queryset.publish()

Fetch the Query

In [8]:
data = new_queryset.fetch()

Queryset simple_conflict read successfully

In [11]:
data.head()

                     ged_sb
month_id country_id
1        1              NaN
         2              NaN
         3              NaN
         4              NaN
         5              NaN

More advanced Query

In [21]:
adv_queryset = (Queryset("luuk_test_query", "country_year")

                .with_column(Column("sb_fat", from_loa="country_month",
                                    from_column="ged_sb_best_sum_nokgi")
                             .aggregate('sum')
                             .transform.missing.replace_na())

                .with_column(Column("protests", from_loa="country_month",
                                    from_column="acled_pr_count")
                             .aggregate('avg')
                             .transform.missing.replace_na())
                )

In [22]:
data_adv = adv_queryset.publish().fetch()

Queryset luuk_test_query read successfully

In [23]:
data_adv.head()

                    sb_fat  protests
year_id country_id
1900    4              0.0       0.0
        7              0.0       0.0
        8              0.0       0.0
        10             0.0       0.0
        11             0.0       0.0

In [25]:
data_fatalities = Queryset.from_storage("fatalities002_cm_conflict_history_stub").fetch()

100%|██████████| 3.22M/3.22M [00:00<00:00, 54.3MB/s]

Queryset fatalities002_cm_conflict_history_stub read successfully

In [26]:
data_fatalities.head()

                     gleditsch_ward  ln_ged_ns  ln_ged_os  ln_acled_sb  \
month_id country_id
1        1                      110        0.0        0.0          0.0
         2                      115        0.0        0.0          0.0
         3                       52        0.0        0.0          0.0
         4                      101        0.0        0.0          0.0
         5                      990        0.0        0.0          0.0

                     ln_acled_sb_count  ln_acled_os  ln_ged_sb_tlag_1  \
month_id country_id
1        1                         0.0          0.0               0.0
         2                         0.0          0.0               0.0
         3                         0.0          0.0               0.0
         4                         0.0          0.0               0.0
         5                         0.0          0.0               0.0

                     ln_ged_sb_tlag_2  ln_ged_sb_tlag_3  ln_ged_sb_tlag_4  \
month_id country_id
1        1                        0.0               0.0               0.0
         2                        0.0               0.0               0.0
         3                        0.0               0.0               0.0
         4                        0.0               0.0               0.0
         5                        0.0               0.0               0.0

                     ...  decay_ged_sb_100  decay_ged_sb_500  \
month_id country_id  ...
1        1           ...               0.0               0.0
         2           ...               0.0               0.0
         3           ...               0.0               0.0
         4           ...               0.0               0.0
         5           ...               0.0               0.0

                     decay_ged_os_100  decay_ged_ns_5  decay_ged_ns_100  \
month_id country_id
1        1                        0.0             0.0               0.0
         2                        0.0             0.0               0.0
         3                        0.0             0.0               0.0
         4                        0.0             0.0               0.0
         5                        0.0             0.0               0.0

                     decay_acled_sb_5  decay_acled_os_5  decay_acled_ns_5  \
month_id country_id
1        1                        0.0               0.0               0.0
         2                        0.0               0.0               0.0
         3                        0.0               0.0               0.0
         4                        0.0               0.0               0.0
         5                        0.0               0.0               0.0

                     splag_1_decay_ged_os_5  splag_1_decay_ged_ns_5
month_id country_id
1        1                              0.0                     0.0
         2                              0.0                     0.0
         3                              0.0                     0.0
         4                              0.0                     0.0
         5                              0.0                     0.0

[5 rows x 24 columns]