## Sandbox for Viewser, VIEWS API, etc.

In [1]:
from viewser import Queryset, Column

Set up query

In [6]:
new_queryset = (Queryset("simple_conflict", "country_month")

           .with_column(Column("ged_sb", from_loa="country_month", from_column="ged_sb_best_sum_nokgi")
                        )
            )

Publish the Query

In [7]:
data = new_queryset.publish()

Fetch the Query

In [8]:
data = new_queryset.fetch()

Queryset simple_conflict read successfully

In [11]:
data.head()

                     ged_sb
month_id country_id
1        1              NaN
         2              NaN
         3              NaN
         4              NaN
         5              NaN