## Sandbox for Viewser, VIEWS API, etc.

#### Basic test of Queryset

In [45]:
from viewser import Queryset, Column

import re

import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

import requests
import json

Set up query

In [6]:
new_queryset = (Queryset("simple_conflict", "country_month")
           .with_column(Column("ged_sb", from_loa="country_month", from_column="ged_sb_best_sum_nokgi")))

Publish the Query

In [7]:
data = new_queryset.publish()

Fetch the Query

In [8]:
data = new_queryset.fetch()

Queryset simple_conflict read successfully

In [11]:
data.head()

                     ged_sb
month_id country_id
1        1              NaN
         2              NaN
         3              NaN
         4              NaN
         5              NaN

More advanced Query

In [21]:
adv_queryset = (Queryset("luuk_test_query", "country_year")

                .with_column(Column("sb_fat", from_loa="country_month",
                                    from_column="ged_sb_best_sum_nokgi")
                             .aggregate('sum')
                             .transform.missing.replace_na())

                .with_column(Column("protests", from_loa="country_month",
                                    from_column="acled_pr_count")
                             .aggregate('avg')
                             .transform.missing.replace_na())
                )

In [22]:
data_adv = adv_queryset.publish().fetch()

Queryset luuk_test_query read successfully

In [23]:
data_adv.head()

                    sb_fat  protests
year_id country_id
1900    4              0.0       0.0
        7              0.0       0.0
        8              0.0       0.0
        10             0.0       0.0
        11             0.0       0.0

In [25]:
data_fatalities = Queryset.from_storage("fatalities002_cm_conflict_history_stub").fetch()

100%|██████████| 3.22M/3.22M [00:00<00:00, 54.3MB/s]

Queryset fatalities002_cm_conflict_history_stub read successfully

In [26]:
data_fatalities.head()

                     gleditsch_ward  ln_ged_ns  ln_ged_os  ln_acled_sb  \
month_id country_id
1        1                      110        0.0        0.0          0.0
         2                      115        0.0        0.0          0.0
         3                       52        0.0        0.0          0.0
         4                      101        0.0        0.0          0.0
         5                      990        0.0        0.0          0.0

                     ln_acled_sb_count  ln_acled_os  ln_ged_sb_tlag_1  \
month_id country_id
1        1                         0.0          0.0               0.0
         2                         0.0          0.0               0.0
         3                         0.0          0.0               0.0
         4                         0.0          0.0               0.0
         5                         0.0          0.0               0.0

                     ln_ged_sb_tlag_2  ln_ged_sb_tlag_3  ln_ged_sb_tlag_4  \
month_id country_id
1        1                        0.0               0.0               0.0
         2                        0.0               0.0               0.0
         3                        0.0               0.0               0.0
         4                        0.0               0.0               0.0
         5                        0.0               0.0               0.0

                     ...  decay_ged_sb_100  decay_ged_sb_500  \
month_id country_id  ...
1        1           ...               0.0               0.0
         2           ...               0.0               0.0
         3           ...               0.0               0.0
         4           ...               0.0               0.0
         5           ...               0.0               0.0

                     decay_ged_os_100  decay_ged_ns_5  decay_ged_ns_100  \
month_id country_id
1        1                        0.0             0.0               0.0
         2                        0.0             0.0               0.0
         3                        0.0             0.0               0.0
         4                        0.0             0.0               0.0
         5                        0.0             0.0               0.0

                     decay_acled_sb_5  decay_acled_os_5  decay_acled_ns_5  \
month_id country_id
1        1                        0.0               0.0               0.0
         2                        0.0               0.0               0.0
         3                        0.0               0.0               0.0
         4                        0.0               0.0               0.0
         5                        0.0               0.0               0.0

                     splag_1_decay_ged_os_5  splag_1_decay_ged_ns_5
month_id country_id
1        1                              0.0                     0.0
         2                              0.0                     0.0
         3                              0.0                     0.0
         4                              0.0                     0.0
         5                              0.0                     0.0

[5 rows x 24 columns]

## API Experimenting

In [17]:
dataset = "fatalities002_2025_07_t01"
loa = "cm"
csv = True
month_id = 550

if csv:
    api_call = f'https://api.viewsforecasting.org/{dataset}/{loa}?month={month_id}&is_csv=true'
else:
    api_call = f'https://api.viewsforecasting.org/{dataset}/{loa}?month={month_id}'

In [18]:
data = pd.read_csv(api_call)

In [20]:
data.head()

,country_id,month_id,name,gwcode,isoab,year,month,surrogate_mean_dem_ln,surrogate_mean_imr,surrogate_mean_pop_ln,surrogate_mean_imr_ln,surrogate_mean_pop,main_mean,main_dich,surrogate_mean_dem,surrogate_mean_nch_ln,surrogate_mean_ch,main_mean_ln,surrogate_mean_ch_ln,surrogate_mean_nch
0,1,550,Guyana,110,GUY,2025,10,0.9408,0.8453,0.1036,0.6126,0.1092,0.0039,0.0041,1.5621,0.3142,0.0807,0.0039,0.0776,0.3691
1,2,550,Suriname,115,SUR,2025,10,0.1100,0.4405,0.0979,0.3650,0.1029,0.0022,0.0041,0.1163,0.3142,0.0807,0.0022,0.0776,0.3691
2,3,550,Trinidad and Tobago,52,TTO,2025,10,0.1121,0.5216,0.1193,0.4198,0.1267,0.0028,0.0041,0.1187,0.0978,0.0807,0.0028,0.0776,0.1027
3,4,550,Venezuela,101,VEN,2025,10,0.7944,0.7220,0.8116,0.5435,1.2515,0.1045,0.0049,1.2132,1.0438,0.0807,0.0994,0.0776,1.8399
4,5,550,Samoa,990,WSM,2025,10,0.2678,0.3522,0.0857,0.3018,0.0895,0.0000,0.0041,0.3070,0.0978,0.0807,0.0000,0.0776,0.1027

Load codebook for understanding variable names:

In [52]:
codebook_url = "https://raw.githubusercontent.com/prio-data/views_api/refs/heads/master/Codebooks/fatalities002/codebook_fatalities002_forecasts.json"
response = requests.get(codebook_url)
codebook = response.json()

In [53]:
codebook["main_mean"]

{'name': 'Predicted number of fatalities',
 'description': 'Point prediction of the number of fatalities in impending conflict, presented per type of violence and level of analysis.',
 'unit': {'unit_name': 'Fatalities',
  'unit_type': 'Int',
  'unit_range': '0 - unlimited'},
 'original': 'sc_cm_{tv}_main',
 'dev_id': 'fatalities002',
 'model_type': 'Ensemble model',
 'visualization': {'viz_main_legend': 'Predicted fatalities',
  'viz_main_colormap': 'rainbow',
  'viz_main_transformation': 'ln',
  'viz_main_dictionary_cm': 'dictionary_stand_1p_10k',
  'viz_main_dictionary_pgm': 'dictionary_stand_1p',
  'viz_main_popup_transformation': 'N/A'}}